.AddRoom{
    grid-column: 1 / 3;
    grid-row: 3 / 7;
    align-items: center;
    display: inline;
}

.AddRoom-ButtonToolbar{
    align-items: center;
    padding: 12px;
    width: 90px;
}

.AddRoom-input{
    width: 200px;
    padding: 18px;
}