.App {
  display: grid;

  
  grid-template-columns: 20vh 40vh 20vh ;
  grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh  10vh  10vh;
  text-align: -webkit-center;
  align-items: center;
  grid-template-areas:
  "Home Title "
  "left section "
  "AddRoomButton AddRoomButton ";
  grid-gap: 10px;
}

.MapRooms{
  width: 20px;
  display: flex;
}