.RoomWindow{
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.RoomWindow-name{
    grid-column: 2 / 3;
    grid-row: 4 / 7;
}
.RoomWindow-Dropdown{
    grid-column: 2 / 3;
    grid-row: 4 / 7;
}
.RoomWindow-alert{
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    width: 370px;
    padding: 20px;
}

.RoomWindow-add{
    padding: 10px;
}
.RoomWindow-Dropdown-item{
    padding: 10px;
}